.ipynb_checkpoints/.gitignore-checkpoint
.ipynb_checkpoints/.ipynb_checkpoints/.gitignore-checkpoint-checkpoint
pipeline/.ipynb_checkpoints/pipeline_definition-checkpoint.ipynb
pipeline/.ipynb_checkpoints/processing_script-checkpoint.py
pipeline/.ipynb_checkpoints/train-checkpoint.py
